@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC");
@import url("https://fonts.googleapis.com/css?family=Oswald");

#preload {
  background-image: url("../images/background.jpg");
}

#sunset {
  background-image: url("../images/background.jpg");
  -moz-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.fa-laptop{
  color: white;
  font-size: 2em;
  margin-top: 30%;
  margin-bottom: 30%;
}

.logo {
  margin: auto;
  position: relative;
  top: 10%;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  border: solid 1px #ffffff;
  border-radius: 100%;
  text-align: center;
}

.resume {
  margin-top: 15px;
}

.title {
  top: 25%;
  position: relative;
  color: white;
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 15px;
}

.buttons {
  margin: auto;
  position: relative;
  text-align: center;
  top: 30%;
}

.about {
  background: #000;
  position: fixed;
  text-align: center;
  overflow-y: scroll;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  height: 35rem;
  border-radius: 25px;
  display: none;
  z-index: 1;
}

.close {
  color: #fff;
  opacity: 1;
  margin-right: 2%;
  margin-top: 1%;
  font-size: 250%;
}

.close:hover {
  color: white;
}

.george-pictures {
  display: inline;
}

.pic1 {
  margin-top: 3%;
  margin-left: 7%;
  height: 35%;
  width: 25%;
  border-radius: 10px;
}

.pic2 {
  margin-top: 3%;
  height: 25%;
  width: 33.5%;
  margin-left: -1%;
  border-radius: 10px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.pic3 {
  margin-top: 3%;
  height: 30%;
  width: 33.5%;
  margin-left: -5%;
  border-radius: 10px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.description {
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  color: snow;
  font-family: 'Oswald', sans-serif;
}

@media (max-height: 500px) {
  .hide-line {
    opacity: 0;
  }
}

line {
    display: block;
    margin: auto;
    max-height: 40px;
    overflow: hidden;
    position: relative;
    top: 40%;
    color: white;
    height: 1px;
    width: 600px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

h1 {
  text-align: center;
  color: white;
}
